body {
  overflow-x: hidden;
  font-family: 'Open sans', 'lato', sans-serif;
  font-size: 10px;
}

#tab-content {
  margin-top: 55px;
}

.menu-section {
  background-image: linear-gradient(#0b3a55d2, #e98d8d91);
  min-width: 100vw;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
}

#presentation {
  color: #f06009;
}

#wellcome-section {
  font-family: 'Baloo Tamma 2', cursive;
  font-size: xx-large;
}

.dish-card {
  width: max-content;
  margin: 2rem 0;
  color: wheat;
  background-color: #00000052;
}

.list-group-item {
  background-color: #00000052;
}

.card-columns
.card {
	display: inline-block;
	width: max-content ;
}

.card-img-top {
  width: 17rem;
  height: 11rem;
}

.card-18rem {
  width: 18rem;
}

.col-md-8 {
  margin: 2rem auto 8rem;
  padding-top: 2rem;
}

.col-md-8 h1 {
  font-size: 2.4rem;
}

.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: 0.6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1ebba3;
  background-color: #1ebba3;
  color: white;
}

.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

.tab-content {
  margin-top: 50px;
}

.navbar-dark {
  background-color: #0b3a55;
}


.icon-link {
  font-size: 3rem;
  color: rgba(34, 94, 157, 0.82);
}

#contact-info {
  min-width: 100%;
  min-height: 100vh;
  background-color: rgb(221, 87, 21);
  padding-top: 3rem;
}

#adress-card {
  justify-content: center;
}

.media-block {
  width: 100%;
  min-height: 14rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  justify-content: space-around;
}


.ico-wrapper {
  width: 25%;
  text-align: center;
}
